body {
  display: grid;
  width: 100%;
  margin:0px;
  background-color: aqua;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.gridContainer{
  display: grid;
   width: 100%;
   margin-top: 0%;
}
a {
  text-decoration: none;
}
.gridContainer div div ul li a{
    font-size:1.5em;
}

ul li {
  list-style: none;
}

.content div h1{
    text-align: center;
    
    
    
}

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    height: 80px;
    align-items: center;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    
  }
  footer a i{
    color :rgb(63, 101, 228);
    align-items: center;

  }
 img{
margin: 0 auto;
   border-radius: 50%;
 
  }
  .topNavBar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: black;
  }
  .topBarMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }

  .content{
    display: grid;
      margin: 0% 5% 0% 5%;
      text-align: center;
  }
  
 
  button{
      border-radius: 10px;
  }
  textarea{
      width: 100%;
      border: solid;
      height: 80px;
  }
 


@media screen and (max-width: 1024px) {
    img{
        margin-left:0%;
        margin-top: 5px;
        border-radius: 50%;
        width: 100%;
        
    }
    .gridContainer{
      display: grid;
     }
     .topNavBar .icon {
      float: right;
      margin-right: 10%;
    }
    
} 
