*{
    padding: 0;
    margin: 0;
}

.about {
    background-image: url(../../resources/bgAbout.jpg);
    width: 100%;
    height: 95vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.about p{
    font-size: medium;
    font-weight: 600;
    padding: 1px;
}

.aboutText{
    margin: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px 20px 50px 20px;
    border-radius: 25%;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .about{
        background-image: url(../../resources/bgAbout.jpg);
    }
    .aboutText{
        width: 80% !important;
    }
}